body{
    font-family: sans-serif;
    background-color: #EF4E65;
    background-image:url("assets/tea.JPG");
    background-size:100%;
    background-repeat: no-repeat;
    color:white;
    font-family: 'Raleway', sans-serif;
    display: inline-block;
}

h1 {
    display: inline-block;
    text-align: center;
    vertical-align: 25%;
}

.menu {
    position: fixed;
    left: 0px;
    width: 100%;
    top: 0px;
    background-color:#EF4E65;
    text-align: center;
}

.item {
    display: inline-block;
    background-color:#FE91AC;
    margin: 5px 5px 5px 5px;
    width: 31%;
}

.page1 {
    text-align: center;
}

.logo {
    font-size:200%;
    position: absolute;
    top: 30%;
    right:25%;
    left: 25%;
}
